@font-face {
    font-family: Newake;
    src: url("/fonts/Newake.otf") format("opentype");
}

@font-face {
    font-family: Qeinsha;
    src: url("/fonts/Qeinsha.otf") format("opentype");
}

@font-face {
    font-family: Southport;
    src: url("/fonts/Southport.ttf") format("opentype");
}

@font-face {
    font-family: BrassHopperHeadThin;
    src: url("/fonts/BrassHopperHeadThin.otf") format("opentype");
}

@font-face {
    font-family: Onest;
    src: url("/fonts/Onest-VariableFont_wght.ttf") format("opentype");
}


body {
    background-color: rgba(251, 252, 249, 0.3);
    /* overflow:hidden; */
    overflow-x: hidden;
    font-family: Onest;
}

.bg-elephant {
    opacity: 0.3;
    width: 70%;
    height: 150%;
    position: relative;
    margin: -15% -24% 0 0;
}

.left-logo {
    width: 15%;
    height: 10%;
    position: relative;
    margin: -57%  0 0 2% ;
}

.custom-logo {
    width: 160px;
    height: 100px;
    position: relative;
    margin: -56%  2% 0 2% ;
}

h3 {
    color: rgba(54, 80, 101, 0.85) !important;
    position: relative;
    margin: -52%  0 0 49%;
    font-family: Onest;
    font-weight: 200;
}

h1 {
    color: rgba(54, 80, 101, 0.85) !important;
    position: relative;
    margin: 0 0 0 40%;
    font-family: Onest;
    font-weight: 800;
}

.state-div {
    position: relative;
    margin: 5% 0 -7% 88%;
}

.refresh-wrap:before {
  position: absolute;
  background: rgba(0, 0, 0, 0.05);
  /* backdrop-filter: blur(5px); */
  /* -webkit-backdrop-filter: blur(5px); */
  /* -webkit-filter: blur(5px); */
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  border-radius: 15px;
  content: '';
  left: 0;
  top: 0;
  z-index: 1;
  width: 20%;
  height: 60px;
}

.refresh-wrap {
  position: relative;
  margin: 0% 0 1% 5.5%;
}

.refresh-shadow {
  position: relative;
  margin: -1% 0 0 1%;
  z-index: 10;
  border-radius: 10px 10px 10px 10px ; 
  background: rgba(185, 37, 37, 0.1);    
  font-family: Onest;
  width: 18%;
  height: 35px;
}

.cls-wrap:before {
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px); */
    /* -webkit-filter: blur(5px); */
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    border-radius: 15px;
    content: '';
    left: 0;
    top: 0;
    z-index: 1;
    width: 20%;
    height: 60px;
}

.cls-wrap {
  position: relative;
  margin: 0% 0 -6% 5.5%;
}

.cls-table {
    position: relative;
    margin: -1% 0 0 1%;
    z-index: 2;
    border-radius: 10px 10px 10px 10px ; 
    background: rgba(255, 255, 255, 0.5);    
    font-family: Onest;
    width: 18%;
    height: 35px;
}

.cls-table-danger {
    box-shadow: 0 0 8px #B9441F
}

.cls-table-warning {
    box-shadow: 0 0 8px #dbbd10
}

.table-wrap:before {
    position: absolute;
    background: rgba(0, 0, 0, 0.04);
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px); */
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    border-radius: 15px;
    content: '';
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.table-wrap {
    position: relative;
    margin: 6.5% 5% 5% 5%;
}

table.table {
    position: relative;
    z-index: 2;
    border-radius: 15px; 
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    width: 98%;
    margin: 2% 1% 1% 1%;
    font-family: Onest;
}

.toggle-wrap:before {
    position: absolute;
    background: #0000000D;    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    border-radius: 15px;
    content: '';
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.toggle-wrap {
    position: relative;
    margin: 6.5% 5% 5% 5%;
}

.toggle-table {
    position: relative;
    z-index: 2;
    border-radius: 15px; 
    background: #0000000D;
    /* background: rgba(255, 255, 255, 0.5);     */
    font-family: Onest;
    box-shadow: 0px 0px 15px 6px #0000000D;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0,1,0.5,1);
    border-radius: 4px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(132, 132, 132, 1);
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0,1,0.5,1);
    border-radius: 3px;
  }
  
  input:checked + .slider {
    box-shadow: 0 0 12px #7CB039 inset;
  }
  
  input + .slider {
    box-shadow: 0 0 8px #B9441F inset;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }  
  
  #round {
    border-radius: 34px;
  }
  
  #round:before {
    border-radius: 50%;
  }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0,1,0.5,1);
    border-radius: 4px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(132, 132, 132, 1);
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0,1,0.5,1);
    border-radius: 3px;
  }
  
  input:checked + .slider {
    box-shadow: 0 0 12px #7CB039 inset;
  }
  
  input + .slider {
    box-shadow: 0 0 8px #B9441F inset;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }  
  
  #round {
    border-radius: 34px;
  }
  
  #round:before {
    border-radius: 50%;
  }






.switch-sm {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}


.switch-sm input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-sm {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0,1,0.5,1);
    border-radius: 2px;
  }
  
  .slider-sm:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2.5px;
    bottom: 2.5px;
    background-color: rgba(132, 132, 132, 1);
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0,1,0.5,1);
    border-radius: 2px;
  }
  
  input:checked + .slider-sm {
    box-shadow: 0 0 6px #7CB039 inset;
  }
  
  input + .slider-sm {
    box-shadow: 0 0 4px #B9441F inset;
  }
  
  input:checked + .slider-sm:before {
    -webkit-transform: translateX(19.5px);
    -ms-transform: translateX(19.5px);
    transform: translateX(19.5px);
  }
  
  /* Rounded sliders */
  .slider-sm.round {
    border-radius: 17px;
  }
  
  .slider-sm.round:before {
    border-radius: 50%;
  }  







.sore-wrap:before {
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    border-radius: 15px;
    content: '';
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.sore-wrap {
    position: relative;
    margin: 6.5% 5% 5% 5%;
}

.sore-table {
    position: relative;
    z-index: 2;
    border-radius: 15px; 
    background: rgba(255, 255, 255, 0.5);
    font-family: Onest;
}

input {
  border-radius: 8px;
  border-color: #bfc0bdeb;
  width: 75%;
  height: 30px;
  box-shadow: 0 0 8px #bfc0bdeb inset;
  padding: 0 2.5em 0 0.5em;
}


select {
    border-radius: 8px;
    border-color: #bfc0bdeb;
    width: 85%;
    height: 30px;
    box-shadow: 0 0 8px #bfc0bdeb inset;
    padding: 0 2.5em 0 0.5em;
}

select>option{
    margin-left: 10px;
}

.btn-bfm {
    background-image: linear-gradient(275.76deg, #94C11F 44.33%, #BADC58 98.56%);
    color: white;
}

.btn-bfm:hover{
    background-image: linear-gradient(275.76deg,#BADC58 98.56%, #94C11F 44.33%);
}