@font-face {
    font-family: Newake;
    src: url("/fonts/Newake.otf") format("opentype");
}

@font-face {
    font-family: Qeinsha;
    src: url("/fonts/Qeinsha.otf") format("opentype");
}

@font-face {
    font-family: Southport;
    src: url("/fonts/Southport.ttf") format("opentype");
}

@font-face {
    font-family: BrassHopperHeadThin;
    src: url("/fonts/BrassHopperHeadThin.otf") format("opentype");
}

@font-face {
    font-family: Onest;
    src: url("/fonts/Onest-VariableFont_wght.ttf") format("opentype");
}


body {
    background-color: rgba(251, 252, 249, 0.3);
    /* overflow:hidden; */
    /* overflow-x: hidden; */
    font-family: Onest;
  }

.background {
  background-image: url("/images/bg-elephant-active.png");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 52% 110%;
  background-position: 135%;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
}

.left-logo {
    width: 180px;
    height: 72px;
    margin-top: -95vh;
    margin-left: 122px;
    position: absolute;
}

#div_tab_bg {
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  height:75vh ;
  margin-top: -2vh;
}

#div_tab_content {
  margin-top: -70vh;
  margin-left: 15vh; 
  margin-right: 10vh;
}

#div_refresh {
  width: 260px;
  height: 58px;
  box-shadow: 2px -3px 15px 3px #dddcdc;
  border-radius: 8px;
  margin-left: 3vh;
}

#div_state {
  width: 260px;
  height: 58px;
  background-color:  rgba(251, 252, 249, 0.9);
  box-shadow: 2px -3px 15px 3px #dddcdc;
  border-radius: 8px;
  margin-right: 3vh;
}

#div_cluster_rows {
  min-height: 30vh;
  background-color:  rgba(251, 252, 249, 0.7);
  box-shadow: 2px -3px 15px 3px #dddcdc;
  border-radius: 12px;
  margin-top: -2vh;
  font-size: 10pt;
  font-weight: 400;
}

#div_cluster_rows table thead tr {
  height: 10vh;
} 

.switch-sm {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 6px;
}

.switch-sm input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-sm {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d7d7d7;
  -webkit-transition: .4s;
  transition: .4s cubic-bezier(0,1,0.5,1);
  border-radius: 1px;
}

.slider-sm:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 0px;
  bottom: -3px;
  background-color: rgba(132, 132, 132, 1);
  -webkit-transition: .4s;
  transition: .4s cubic-bezier(0,1,0.5,1);
  border-radius: 1px;
}

input:checked + .slider-sm {
  box-shadow: 0 0 6px #87ec03 inset;
}

input + .slider-sm {
  box-shadow: 0 0 6px #B9441F inset;
}

input:checked + .slider-sm:before {
  -webkit-transform: translateX(21.5px);
  -ms-transform: translateX(21.5px);
  transform: translateX(21.5px);
}

/* Rounded sliders */
.slider-sm.round {
  border-radius: 3px;
}

.slider-sm.round:before {
  border-radius: 50%;
}  

.nav .nav-item .nav-link {
  color: #8c8d91;
  font-size: 1.1em;
}

.nav .nav-item .nav-link:hover {
  color: #383838;
}

.nav .nav-item {
  position: relative;
}

@media only screen and (min-width: 992px) {
  .nav {
    padding: 0;
  }

  .nav .nav-link {
    padding: 1em 0;
  }

  .navbar .nav-item {
    margin: 0 1em;
  }
}


ul li a:before
{
  content:'';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(90deg, #94C11F, #94C11F);
  /* background: linear-gradient(90deg, #a594f9, #7371fc); */
  transition: .5s;
}


ul li a:after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(90deg,#94C11F, #94c11f);
  transition: .5s;
}

ul li:hover a:before
{
  transform: translateX(99%);
  width: 50%;
}

ul li:hover a:after
{
  transform: translateX(-99%);
  width: 50%;
}


/* ul li:hover a:before
{
  transform: translateX(99%);
  width: 35%;
}

ul li:hover a:after
{
  transform: translateX(-99%);
  width: 0%;
} */


#div_cls_ctl {
  width: 25%;
  min-width: 300px;
  box-shadow: 2px -3px 15px 3px #dddcdc;
  border-radius: 8px;
  text-align: left;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}


.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s cubic-bezier(0,1,0.5,1);
  border-radius: 4px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(132, 132, 132, 1);
  -webkit-transition: .4s;
  transition: .4s cubic-bezier(0,1,0.5,1);
  border-radius: 3px;
}

input:checked + .slider {
  box-shadow: 0 0 12px #7CB039 inset;
}

input + .slider {
  box-shadow: 0 0 8px #B9441F inset;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.round {
  border-radius: 34px;
}

.round:before {
  border-radius: 50%;
}

#div_switchover {
  width: 30%;
  min-width: 400px;
  box-shadow: 2px -3px 15px 3px #dddcdc;
  border-radius: 8px;
  margin-left: 3vh;
}

.btn-bfm {
  background-image: linear-gradient(275.76deg, #94C11F 44.33%, #BADC58 98.56%);
  color: white;
}

.btn-bfm:hover{
  background-image: linear-gradient(275.76deg,#BADC58 98.56%, #94C11F 44.33%);
}

#div_bfmlogs {
  background-color:  rgba(251, 252, 249, 0.7);
  width: 42%;
  min-width: 400px;
  box-shadow: 2px -3px 15px 3px #dddcdc;
  border-radius: 8px;
  margin-left: 3vh;
}

.bfm-txt {
  background: transparent;
  resize: none;
  border: 0 none;
  width: 100%;
  outline: none;
  width:98%; 
  font-size: 8pt;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
